/********************************BASIC SETUP*********************************************/

/********Main brand colors and default font sizes********/
:root {
    font-size: 16px;
    --white : #fff;
}


/********Defining margin and box sizing********/
html { 
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.15;
}

body {
	font-family: Open Sans;
	font-weight: 400;
	margin: 0;
    padding: 0;
}


/********background and width adjustment********/

.top {
	height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(C:/Users/abc/projects/Budget-App/resources/images/back.png);
    background-size: cover;
    background-position: center;
}










/********************************BUDGET SECTION*********************************************/

.budget {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white)
}

.budget--title {
    margin-top: 5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 300;
}

.budget--value {
    margin-bottom: 2rem;
    font-size: 2.8rem;
    font-weight: 300;
    letter-spacing: 2px;
}

.budget--income,
.budget--expenses {
    width: 20rem;
    display: flex;
    padding: 12px;
    justify-content:space-between;
    align-items: center;
    text-transform: uppercase;
}


.budget--income {
    margin-bottom: 10px;
    background-color: #28B9B5;
}

.budget--expenses {
    background-color: #FF5049;
}

.budget--income--text,
.budget--expenses--text {
    font-size: 0.8rem;
    color: #444;
    margin-top: 2px;
}

.budget--income--value,
.budget--expenses--value {
    padding-right: 2rem;
    letter-spacing: 1px;
}










/********************************Middle SECTION*********************************************/
.middle {
	padding: 1rem;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}

.add-data {
	display: flex;
	justify-content: center;
}

.add--type {
    width: 3.45rem;
    border: 1px solid #e7e7e7;
    height: 2.75rem;
    font-size: 1.2rem;
    background-color: #fff;
    margin-right: 0.6rem;
    font-weight: 300;
    transition: border 0.3s;
}

.add--description,
.add--value {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    padding: 0.75rem 0.9375rem;
    margin-right: 0.6rem;
    border-radius: 5px;
    transition: border 0.3s;
}

.add--description { width: 22rem;}
.add--value { width: 4rem;}


.add--button {
    background: none;
    border: none;
    font-size: 2.2rem;
    color: #28B9B5;
    cursor: pointer;
    margin-left: 10px;
}

.add--type:focus,
.add--description:focus,
.add--value:focus {
    outline: none;
    border: 1px solid #28B9B5;
}

.add--button:focus { outline: none; }





