/********************************BASIC SETUP*********************************************/

/********Main brand colors and default font sizes********/
:root {
    font-size: 16px;
    --white : #fff;
}


/********Defining margin and box sizing********/
html { 
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.15;
}

body {
	font-family: Open Sans;
	font-weight: 400;
	margin: 0;
    padding: 0;
}


/********background and width adjustment********/

.top {
	height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(back.png);
    background-size: cover;
    background-position: center;
}










/********************************BUDGET SECTION*********************************************/

.budget {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white)
}

.budget--title {
    margin-top: 5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 300;
}

.budget--value {
    margin-bottom: 2rem;
    font-size: 2.8rem;
    font-weight: 300;
    letter-spacing: 2px;
}

.budget--income,
.budget--expenses {
    width: 20rem;
    display: flex;
    padding: 12px;
    justify-content:space-between;
    align-items: center;
    text-transform: uppercase;
}


.budget--income {
    margin-bottom: 10px;
    background-color: #28B9B5;
}

.budget--expenses {
    background-color: #FF5049;
}

.budget--income--text,
.budget--expenses--text {
    font-size: 0.8rem;
    color: #444;
    margin-top: 2px;
}

.budget--income--value,
.budget--expenses--value {
    padding-right: 2rem;
    letter-spacing: 1px;
}

